
menuconfig INPUT_IQS9151
    bool "Azoteq IQS9151 trackpads"
    default y
    depends on GPIO
    depends on I2C
    depends on INPUT
    depends on DT_HAS_AZOTEQ_IQS9151_ENABLED
    help
      Enable driver for AZOTEQ IQS9151 trackpads

if INPUT_IQS9151

config INPUT_IQS9151_INIT_PRIORITY
    int "IQS9151 init priority"
    default 80

config INPUT_IQS9151_THREAD_STACK_SIZE
    int "IQS9151 IRQ thread stack size"
    default 1024

config INPUT_IQS9151_THREAD_PRIORITY
    int "IQS9151 IRQ thread priority"
    default 1

config INPUT_IQS9151_LOG_LEVEL
    int "IQS9151 log level"
    default 4
    depends on LOG
    range 0 4

endif
